@media only screen and (min-width: 800px) {
  header {
    position: fixed;
    background-color: white;
  }

  .logo {
    display: block;
  }

  nav {
    width: 50%;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    height: 70px;
  }

  nav ul li {
    list-style: none;
    width: 150px;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #272a31;
    font-size: 16px;
  }

  .menu_bar {
    display: none;
  }

  .first_sec {
    padding: 20px;
  }

  .first_sec > div {
    width: 70%;
    margin-top: 320px;
    margin-left: 10%;
  }

  .intro {
    width: 640px;
  }

  .snd_section > div {
    display: flex;
    flex-direction: row;
  }

  .contain_program {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .program {
    width: 180px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: rgba(39 42 49 / 75%);
  }

  .contain_speaker {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    justify-content: center;
  }

  .speaker {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 500px;
    height: 200px;
  }

  .partner {
    display: grid;
    background-image: url('../images/backgrd_partner.jpg');
    background-size: cover;
    height: 200px;
    color: #f5f5f5;
  }

  .partner > h2 {
    margin: 10px auto;
    font-size: 26px;
    position: relative;
    line-height: 35px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 900;
  }

  .partner > h2::after {
    position: absolute;
    content: '';
    width: 35px;
    display: block;
    height: 1px;
    background-color: #f16755;
    left: 21px;
  }

  .partner > div {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .trd_session > button {
    display: none;
  }

  .partner > div > i {
    margin: 0 50px;
    color: rgb(202 198 195);
  }

  .partner .fa-supple {
    color: white;
  }

  footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
