@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: cocogoose;
  src: url(https://www.dafont.com/cocogoose.font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white_bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
}

.logo {
  width: 150px;
  height: inherit;
  align-items: center;
  justify-content: center;
  margin: 10px 10%;
  display: none;
}

.Lnav ul a {
  text-decoration: none;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 100;
  color: #272a31;
  font-size: 18px;
}

.logo > a {
  color: #272a31;
  font-size: 20px;
  text-decoration: none;
  line-height: 24px;
  font-family: 'Cocogoose', sans-serif;
}

.Lnav ul li:hover a {
  border: 3px solid #f16755;
  color: #f16755;
  padding: 10px;
}

.logo > a span {
  color: #f16755;
}

.Lnav {
  display: flex;
  margin: 0 5%;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  transition: width 1s ease-in-out;
}

.Lnav ul {
  position: absolute;
  top: 62px;
  right: 0;
  width: 100%;
  height: 0;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  transition: height 2s;
}

.Lnav ul li {
  list-style: none;
  color: #272a31;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 150px;
  height: 40px;
}

.menu_bar > i {
  font-size: 50px;
}

.first_sec {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('../images/mobile_bkgrnd.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.first_sec > div {
  width: 90%;
  margin: 100px auto;
}

.wel {
  color: #d42a14;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 40px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 900;
  background-image: url('../images/set.jpg');
  -webkit-background-clip: text;
  color: transparent;
  line-height: 46px;
}

.intro {
  border: 4px solid white;
  margin: 20px 0;
  line-height: 30px;
  padding: 10px;
  background-color: #f7f7fb;
}

.hrs {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #272a31;
  font-size: 28px;
}

.lieu {
  color: #272a31;
  font-size: 20px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  word-spacing: -3px;
}

.snd_section {
  background-image: url('../images/blackGg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 20px 5px;
}

.snd_section > div {
  display: flex;
  flex-direction: column;
}

.Mpr {
  width: 200px;
  height: 40px;
  display: block;
  color: white;
  margin: 20px auto;
  position: relative;
  line-height: 40px;
}

.Mpr::after {
  content: ' ';
  display: block;
  width: 53px;
  height: 1px;
  position: absolute;
  background-color: #f16755;
  left: 44px;
}

.contain_program {
  width: 100%;
}

.program {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  height: 100px;
  background-color: rgba(39, 42, 49, 0.5);
  color: white;
  margin: 8px 0;
  padding: 0 20px;
  align-items: center;
}

.program > h3 {
  color: #f16755;
}

.snd_section button {
  height: 50px;
  background-color: #f16755;
  color: white;
  font-family: 'Cocogoose', sans-serif;
  border: none;
  width: inherit;
  margin: 10px auto;
  padding: 10px;
}

.trd_session {
  margin: 10px 0;
}

.trd_session > h2 {
  margin: 10px auto;
  font-size: 20px;
  width: 200px;
  height: 40px;
  display: block;
  position: relative;
  line-height: 35px;
}

.trd_session > h2::after {
  position: absolute;
  content: '';
  display: block;
  width: 53px;
  height: 1px;
  background-color: #f16755;
  left: 25px;
  color: #272a31;
}

.contain_speaker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.speaker {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.speaker > img {
  width: 100%;
}

.speaker h4 {
  color: #f16755;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 15px;
  position: relative;
}

.speaker h4::after {
  display: block;
  width: 20px;
  height: 2px;
  content: '';
  background-color: rgb(202 198 195);
  position: absolute;
}

.trd_session > button {
  width: 90%;
  height: 36px;
  margin: 0 auto;
  font-size: 18px;
  background: no-repeat;
  border: 1px solid #e0e0e0;
  display: block;
  box-shadow: 0 0 51px -15px black;
}

.fa-caret-down {
  color: #f16755;
}

.partner {
  display: none;
}

footer {
  display: none;
}

@media only screen and (max-width: 402px) {
  .title {
    font-size: 9vw;
  }
}
